<%= simple_form_for(@score, :html => { :class => 'horizontal' }) do |f| %>

  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if admin_signed_in? %>
      <%= f.input :user, collection: User.all, :label_method => :name, :value_method => :id %>
    <% end %>
    <%= f.input :value, :input_html => { :class => "span6" }, :label => "Your Score" %>
    <%= f.input :scaled, as: :boolean, :inline_label => "Yes, I scaled" %>
    <%= f.input :personal_record, as: :boolean %>
    <%= f.input :completed, as: :datetime %>
    <%= f.button :submit %>
<% end %>
