<%= simple_form_for(@score, :html => { :class => 'horizontal' }) do |f| %>

  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if admin_signed_in? %>
      <%= f.input :user, collection: User.all, :label_method => :name, :value_method => :id %>
    <% end %>

    <%= f.input :name, :wrapper => :prepend, :label => false do %>
      <%= content_tag :span, "Your Score", :class => "add-on" %>
      <%= f.input_field :value %>
    <% end %>

    <%= f.input :scaled, as: :boolean, :label => false, :inline_label => "I scaled." %>
    <%= f.input :personal_record, as: :boolean, :label => false, :inline_label => "I set a personal record." %>
    <%= f.input :training_day, as: :date, label: "Training Day" %>
    <%= f.input :training_time, collection: ['6:00', '7:00', '9:30', '12:00', '4:30', '5:30', '6:30', 'Other'], prompt: "Select your training time", label: "Training Score" %>    
    <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
