<%= simple_form_for @gymday, html: { class: 'form-horizontal' } do |f| %>

  <% if @gymday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gymday.errors.count, "error") %> prohibited this gymday from being saved:</h2>

      <ul>
      <% @gymday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :location %><br>
    <%= f.input :gym_date, as: :date %>
    <%= f.button :submit %>
<% end %>